<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.CheckHintPathTask" version="1.15.0" targetFramework="net452" developmentDependency="true" />
  <package id="Appccelerate.Development" version="1.27.0" targetFramework="net452" developmentDependency="true" />
  <package id="Appccelerate.Development.Analyzers" version="1.27.0" targetFramework="net452" developmentDependency="true" />
  <package id="Appccelerate.VersionTask" version="1.22.0" targetFramework="net452" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-rc3" targetFramework="net461" developmentDependency="true" />
</packages>